/* General styles */
body.home {
    overflow: hidden;
    font-family: 'Inconsolata';
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.title-container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;
    margin-top: 7.5rem;
    overflow: visible;
}

.title-container h1 {
    font-size: 7rem;
    margin: 0;
    word-wrap: break-word; /* Ensure text breaks on smaller screens */
}

.title-container h3 {
    font-size: 3rem;
    opacity: 0.7;
    margin: 0;
    word-wrap: break-word; /* Ensure text wraps properly */
}

/* Spline container */
.spline-container {
    flex: 0 0 50%;
    margin-top: -2.5rem;
}

/* Background box */
.bg-box {
    position: absolute;
    bottom: 1rem;
    right: 5rem;
    width: 10rem;
    height: 5rem;
    background-color: var(--primary-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1;
}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    padding: 0.625rem;
    color: transparent;
    text-align: center;
    font-size: 1.5rem;
}

.footer:hover {
    color: var(--primary-text);
}
.heart{
    display: none;
}
/* Responsive styles for mobile */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .title-container {
        flex: 0 0 auto;
        padding-left: 0;
        margin-top: 5rem;
        text-align: center; /* Center text on mobile */
    }

    .heart{
        display: block;
    }

    .title-container h1 {
        font-size: 3.5rem; /* Adjust size for smaller screens */
    }

    .title-container h3 {
        font-size: 1.5rem; /* Adjust size for smaller screens */
    }

    .spline-container {
        display: none; /* Hide the Spline model */
    }

    .footer {
        display: none; /* Hide the footer on mobile */
    }
}
