/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #ffffff;
  --primary-text: #000000;
  --secondary-text: #555555;
}

[data-theme="dark"] {
  --primary-bg: #121212;
  --primary-text: #ffffff;
  --secondary-text: #aaaaaa;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}




